* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v23_2 {
    width: 428px;
    height: 926px;
    background: rgba(255,87,116,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v22_19 {
    width: 368px;
    height: 844px;
    background: rgba(247,146,164,1);
    opacity: 1;
    position: absolute;
    top: 41px;
    left: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v109_31 {
    width: 66px;
    height: 70px;
    background: url("https://previews.123rf.com/images/faysalfarhan/faysalfarhan1711/faysalfarhan171104358/89029642-back-arrow-icon-isolated-on-premium-pink-round-button-abstract-illustration.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 799px;
    left: 46px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v22_33 {
    width: 335px;
    height: 93px;
    background: rgba(255,201,211,1);
    opacity: 1;
    position: absolute;
    top: 285px;
    left: 46px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v22_38 {
    width: 221px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 311px;
    left: 120px;
    font-family: Times New Roman;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v22_32 {
    width: 153px;
    height: 138px;
    background-image: url("https://img.freepik.com/premium-vector/pregnant-logo-with-fetus-concept_11481-963.jpg?w=2000");
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 86px;
    left: 137px;
    border-radius: 100%;
  }
  .v22_36 {
    width: 335px;
    height: 93px;
    background: rgba(255,201,211,1);
    opacity: 1;
    position: absolute;
    top: 439px;
    left: 46px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v22_40 {
    width: 275px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 465px;
    left: 117px;
    font-family: Times New Roman;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v22_37 {
    width: 335px;
    height: 93px;
    background: rgba(255,201,211,1);
    opacity: 1;
    position: absolute;
    top: 593px;
    left: 46px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v22_41 {
    width: 397px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 619px;
    left: 108px;
    font-family: Times New Roman;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }