* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v57_18 {
    width: 428px;
    height: 926px;
    background: rgba(255,87,116,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    margin:0px 500px;
  }
  .v57_19 {
    width: 100px;
    height: 100px;
    /* background: url("../images/v57_19.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 325px;
    left: 67px;
    overflow: hidden;
  }
  .v57_31 {
    width: 376px;
    height: 870px;
    background: rgba(247,146,164,1);
    opacity: 1;
    position: absolute;
    top: 29px;
    left: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v126_35 {
    width: 66px;
    height: 70px;
    /* background: url("../images/v126_35.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 802px;
    left: 44px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v57_33 {
    width: 153px;
    height: 138px;
    background-image: url(https://img.freepik.com/premium-vector/pregnant-logo-with-fetus-concept_11481-963.jpg?w=2000);
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 86px;
    left: 137px;
    border-radius: 100%;
  }
  .v62_5 {
    width: 335px;
    height: 93px;
    background: rgba(255,201,211,1);
    opacity: 1;
    position: absolute;
    top: 260px;
    left: 47px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v62_7 {
    width: 275px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 284px;
    left: 76px;
    font-family: Times New Roman;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v62_8 {
    width: 335px;
    height: 378px;
    background: rgba(255,201,211,1);
    opacity: 1;
    position: absolute;
    top: 394px;
    left: 45px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v70_3 {
    width: 288px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 410px;
    left: 63px;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v70_4 {
    width: 288px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 589px;
    left: 59px;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }