
.rec{

    position: absolute;
    width: 1469px;
    height: 700px;
    left: 23px;
    top: 27px;
    background: #F892A4;
    border-radius: 20px;
}
.img{
    position: absolute;
    width: 400px;
    height: 390px;
    left: 527px;
    top: 150px;
    border-radius: 100%;  
}
