* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v23_117 {
    width: 428px;
    height: 926px;
    background: rgba(255,87,116,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    margin:0px 500px;
  }
  .v23_125 {
    width: 368px;
    height: 852px;
    background: rgba(247,146,164,1);
    opacity: 1;
    position: absolute;
    top: 41px;
    left: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v109_66 {
    width: 66px;
    height: 70px;
    /* background: url("../images/v109_66.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 814px;
    left: 46px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v109_65 {
    width: 66px;
    height: 70px;
    /* background: url("../images/v109_65.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 814px;
    left: 385px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v44_17 {
    width: 153px;
    height: 138px;
    background-image: url(https://img.freepik.com/premium-vector/pregnant-logo-with-fetus-concept_11481-963.jpg?w=2000);
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 50px;
    left: 137px;
    border-radius: 100%;
  }
  .v23_168 {
    width: 319px;
    height: 580px;
    background: rgba(255,201,211,1);
    opacity: 1;
    position: absolute;
    top: 295px;
    left: 54px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v23_159 {
    width: 319px;
    height: 81px;
    background: rgba(255,201,211,1);
    opacity: 1;
    position: absolute;
    top: 200px;
    left: 53px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }
  .v44_16 {
    width: 318px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 210px;
    left: 50px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 25px;
    opacity: 1;
    text-align: center;
  }
  .v44_18 {
    width: 265px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 255px;
    left: 79px;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v240_8 {
    width: 220px;
    height: 143px;
    background: url("https://www.parents.com/thmb/lK-X4wpLZJ1nuxsxBsDXTypyEfk=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/simple-trimester-exercises-3-89691542c1f745728ed69b1a20175acf.jpg"); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 717px;
    left: 99px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }